@charset "utf-8";

#title{height:95px;}
#title-container{
	width:938px;
	margin:0 auto;
	background-color:#f5f5f5;
	border:1px solid #CCC;
}

#title h2 {
	color:#06C;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}

#news{
	margin:0 auto;
	width:940px;
	min-height:100px;
	background-color: #FFF;
}

#news-content{padding:20px;}
#news-content p{width:900px;}.node{margin-bottom:40px;}
#news-content ul.inline li{padding:0;}.col{float:left;display:inline;margin:0 10px;width:300px;}

#news .imgleft{float:left;}
#news .imgright{float:right;}

